{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Support Tickets</h2>
<br>
<br>
<table>
  <tr>
    <th>Subject</th>
    <th>Submitted By</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Last Reply</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>You're number don't exist </td>
    <td>adire smith</td>
    <td>Customer Reply</td>
    <td>Medium</td>
    <td>1 day ago</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>You're number don't exist </td>
    <td>adire smith</td>
    <td>Customer Reply</td>
    <td>Medium</td>
    <td>1 day ago</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>You're number don't exist </td>
    <td>adire smith</td>
    <td>Customer Reply</td>
    <td>Medium</td>
    <td>1 day ago</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>can't deposit </td>
    <td>adire smith</td>
    <td>Open</td>
    <td>High</td>
    <td>1 month ago</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>You're number don't exist </td>
    <td>adire smith</td>
    <td>Customer Reply</td>
    <td>High</td>
    <td>1 month ago</td>
    <td>
        <button>Details</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}