{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Answered Tickets</h2>
<br>
<br>
<table>
  <tr>
    <th>Subject</th>
    <th>Submitted By</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Last Reply</th>
    <th>Action</th>
  </tr>
  
</table>

</body>
</html>

{% endblock %}