{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>

<br>
<h2>Automatic Gateways</h2>
<input type="text" placeholder="Search" name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Gateway</th>
    <th>Supported Currency</th>
    <th>Enabled Currency</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Authorize.net</td>
    <td>11</td>
    <td>1</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BTC Pay</td>
    <td>2</td>
    <td>0</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Blockchain</td>
    <td>1</td>
    <td>1</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Cashmaal</td>
    <td>2</td>
    <td>1</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Checkout</td>
    <td>10</td>
    <td>3</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}