{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Crypto Currency List</h2>
<input type="text" placeholder="Name,Symbol..." name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Currency</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>BTC</td>
    <td>$50,956</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>ETH</td>
    <td>$926.5755</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BNB</td>
    <td>$377.32</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>USDT</td>
    <td>$0.998</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>XRP</td>
    <td>$0.553</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}