{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 
    .container {
        display: flex;
      }
  
      .box {
        width: 25%;
        padding: 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

  </style>
</head>

<body>
<br>
<h2>Dashboard</h2>

<br>
<br>
<div class="container">
  <div class="box">
    <h2>2683</h2>
    <p>Total Users</p>
  </div>
  <div class="box">
    <h2>2545</h2>
    <p>Active Users</p>
  </div>
  <div class="box">
    <h2>138</h2>
    <p>Email Unverified Users</p>
  </div>
  <div class="box">
    <h2>0</h2>
    <p>Mobile Unverified Users</p>
  </div>
</div>
<br>
<div class="container">
    <div class="box">
      <h2>144</h2>
      <p>Total Trade</p>
    </div>
    <div class="box">
        <h2>33</h2>
        <p>Total Currencies</p>
    </div>
    <div class="box">
      <h2>22</h2>
      <p>Total Crypto Currencies</p>
    </div>
    <div class="box">
      <h2>11</h2>
      <p>Total Fiat Currencies</p>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="box">
      <h2>13</h2>
      <p>P2P Running Trade</p>
    </div>
    <div class="box">
      <h2>4</h2>
      <p>P2P Completed Trade</p>
    </div>
    <div class="box">
      <h2>17</h2>
      <p>P2P Completed Trade</p>
    </div>
    <div class="box">
      <h2>264</h2>
      <p>P2P Total Ad</p>
    </div>
  </div>


</body>
</html>

{% endblock %}