{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Fiat Currency List</h2>
<input type="text" placeholder="Name,Symbol..." name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Currency</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>USD</td>
    <td>$1.000</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>AUD</td>
    <td>$0.642</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>CAD</td>
    <td>$0.742</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>CHF</td>
    <td>$1.132</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>EUR</td>
    <td>$1.080</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}