{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Market List</h2>
<input type="text" placeholder="Name,Symbol..." name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Currency</th>
    <th>Name</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>AUD</td>
    <td>AUD Market</td>
    <td>Enabled</td>
    <td>
        <select>
            <option>Action</option>
            <option>Edit</option>
            <option>New Pair</option>
            <option>Pair List</option>
            <option>Disable</option>
        </select>
    </td>
  </tr>

  <tr>
    <td>AVAX</td>
    <td>Avax Market</td>
    <td>Enabled</td>
    <td>
        <select>
            <option>Action</option>
            <option>Edit</option>
            <option>New Pair</option>
            <option>Pair List</option>
            <option>Disable</option>
        </select>
    </td>
  </tr>

  <tr>
    <td>BCH</td>
    <td>BCH Market</td>
    <td>Enabled</td>
    <td>
        <select>
            <option>Action</option>
            <option>Edit</option>
            <option>New Pair</option>
            <option>Pair List</option>
            <option>Disable</option>
        </select>
    </td>
  </tr>

  <tr>
    <td>BTC</td>
    <td>BTC Market</td>
    <td>Enabled</td>
    <td>
        <select>
            <option>Action</option>
            <option>Edit</option>
            <option>New Pair</option>
            <option>Pair List</option>
            <option>Disable</option>
        </select>
    </td>
  </tr>

  <tr>
    <td>CAD</td>
    <td>CAD Market</td>
    <td>Enabled</td>
    <td>
        <select>
            <option>Action</option>
            <option>Edit</option>
            <option>New Pair</option>
            <option>Pair List</option>
            <option>Disable</option>
        </select>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}