{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 
    /* Style the form fields */
    .form-field {
      margin-top: 20px;
    }

    .form-field label {
      display: block;
      font-weight: bold;
    }

    .form-field input[type="text"],
    .form-field textarea {
      padding: 10px;
      margin-top: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      width: 80%;
    }

    .form-field textarea {
      height: 150px; /* Adjust the height as needed */
    }

    .form-field input[type="submit"] {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }

    .form-field input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .container {
        display: flex;
      }
  
      .box {
        width: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
  </style>
</head>

<body>

<h2>Manage Referrals</h2>
<br>
<div class="container">
  <div class="box">
    <h2>Deposit Commission</h2>
    <br>
    <p>Level 1</p>
    <hr></hr>
    <p>Level 2</p>
    <br>
    <center> Update Setting</center>
    
    <div class="form-field">
        <label for="subject">Number of Level</label>
        <input type="text" id="subject" name="subject" placeholder="Type a number and hit Enter">
        <input type="submit" value="Generate">
      </div>
    
  </div>
  <div class="box">
    <h2>Trade Commission</h2>
    <br>
    <p>Level 1</p>
    <hr></hr>
    <p>Level 2</p>
    <br>
    <center> Update Setting</center>
    
    <div class="form-field">
        <label for="subject">Number of Level</label>
        <input type="text" id="subject" name="subject" placeholder="Type a number and hit Enter">
        <input type="submit" value="Generate">
      </div>

</div>

</body>
</html>


{% endblock %}
