{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Coin Pair</h2>
<input type="text" placeholder="Name,Symbol..." name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Coin</th>
    <th>Market</th>
    <th>Symbol</th>
    <th>is_Default</th>
    <th>Buy Liquidity</th>
    <th>Sell Liquidity</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>BTC</td>
    <td>USDT Market</td>
    <td>BTC_USDT</td>
    <td>Yes</td>
    <td>4,980,384 USDT</td>
    <td>4,821,533</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BTC</td>
    <td>USD Market</td>
    <td>BTC_USD</td>
    <td>Yes</td>
    <td>4,980,384 USD</td>
    <td>4,821,533 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BTC</td>
    <td>USD Market</td>
    <td>BTC_USD</td>
    <td>Yes</td>
    <td>4,980,384 USD</td>
    <td>4,821,533 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BTC</td>
    <td>USD Market</td>
    <td>BTC_USD</td>
    <td>Yes</td>
    <td>4,980,384 USD</td>
    <td>4,821,533 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>BTC</td>
    <td>USD Market</td>
    <td>BTC_USD</td>
    <td>Yes</td>
    <td>4,980,384 USD</td>
    <td>4,821,533 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}