{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Mobile Unverified Users</h2>
<input type="text" placeholder="Username/Email" name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>User</th>
    <th>Email-Phone</th>
    <th>Country</th>
    <th>Joined At</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>John Frizh</td>
    <td>xyz</td>
    <td>NG</td>
    <td>2024-02-19</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>John Frizh</td>
    <td>xyz</td>
    <td>NG</td>
    <td>2024-02-19</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

  <tr>
    <td>John Frizh</td>
    <td>xyz</td>
    <td>BR</td>
    <td>2024-02-19</td>
    <td>
        <button>Details</button>
    </td>
  </tr>

</table>

</body>
</html>

{% endblock %}