{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 
    /* Style the form fields */
    .form-field {
      margin-top: 20px;
    }

    .form-field label {
      display: block;
      font-weight: bold;
    }

    .form-field input[type="text"],
    .form-field textarea {
      padding: 10px;
      margin-top: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      width: 80%;
    }

    .form-field textarea {
      height: 150px; /* Adjust the height as needed */
    }

    .form-field input[type="submit"] {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }

    .form-field input[type="submit"]:hover {
      background-color: #0056b3;
    }

  </style>
</head>

<body>

<div>
    <h2>Notification to Verified Users</h2>
    <br>
    <p>Being Sent TO</p>
    <select>
        <option>All Users</option>
        <option>KYC Unverified Users</option>
        <option>Selected User</option>
        <option>KYC Verified Users</option>
        <option>KYC Pending User</option>
    </select>
    <br>
</div>

<form action="#" method="POST">
  <div class="form-field">
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" placeholder="Enter the subject">
  </div>
  
  <div class="form-field">
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" placeholder="Enter your message here..."></textarea>
  </div>

  <div class="form-field">
    <input type="submit" value="Send">
  </div>
</form>

</body>
</html>

{% endblock %}