{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>

    <br>
<div>

  <h2>Order History</h2>

  <input type="text" placeholder="Search.." name="search">
  <button type="submit">Search</button>
</div>

<br>
<table>
  <tr>
    <th>Date|Pair</th>
    <th>Order Side</th>
    <th>Order Type</th>
    <th>Amount|Rate</th>
    <th>Total</th>
    <th>Filled</th>
  </tr>
  <tr>
    <td>2024-02-23</td>
    <td>Buy</td>
    <td>Market</td>
    <td>100</td>
    <td>5000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>2024-02-23</td>
    <td>Buy</td>
    <td>Market</td>
    <td>100</td>
    <td>5000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>2024-02-23</td>
    <td>Buy</td>
    <td>Market</td>
    <td>100</td>
    <td>5000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>2024-02-23</td>
    <td>Buy</td>
    <td>Market</td>
    <td>100</td>
    <td>5000</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>2024-02-23</td>
    <td>Buy</td>
    <td>Market</td>
    <td>100</td>
    <td>5000</td>
    <td>Yes</td>
  </tr>
  
</table>

</body>
</html>

{% endblock %}