{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>P2P Payment Method</h2>
<input type="text" placeholder="Name" name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Gateway</th>
    <th>Slug</th>
    <th>Supported Currency</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Bank Transfer</td>
    <td>bank-transfer</td>
    <td>6</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>bKash</td>
    <td>bKash</td>
    <td>3</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Paytm</td>
    <td>paytm</td>
    <td>1</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>PayStack</td>
    <td>paystack</td>
    <td>1</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Neteller</td>
    <td>neteller</td>
    <td>2</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}