{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>

<br>
<h2>P2P Payment Window</h2>
<br>
<table>
  <tr>
    <th>Payment Window</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>10 Minutes</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>20 Minutes</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>30 Minutes</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>60 Minutes</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>120 Minutes</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>
</table>

</body>
</html>

{% endblock %}