{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Success Deposits</h2>
<input type="text" placeholder="Searchl" name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Currency|Wallet</th>
    <th>Gatewat|Transaction</th>
    <th>Initiated</th>
    <th>User</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  
</table>

</body>
</html>

{% endblock %}