{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>

<br>
<h2>Running Trade</h2>
<br>
<table>
  <tr>
    <th>Type</th>
    <th>Asset|Flat</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Order ID|Date</th>
    <th>Rate|Payment Method</th>
    <th>Statues</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Buy</td>
    <td>1.062 ETH</td>
    <td>Ravi Sharma</td>
    <td>Akash Singh</td>
    <td>O24539OER394</td>
    <td>2,349.2512 EUR / ETH</td>
    <td>Pending</td>
    <td>Details</td>
  </tr>
  <tr>
    <td>Buy</td>
    <td>1.062 ETH</td>
    <td>Ravi Sharma</td>
    <td>Akash Singh</td>
    <td>O24539OER394</td>
    <td>2,349.2512 EUR / ETH</td>
    <td>Pending</td>
    <td>Details</td>
  </tr>
  <tr>
    <td>Buy</td>
    <td>1.062 ETH</td>
    <td>Ravi Sharma</td>
    <td>Akash Singh</td>
    <td>O24539OER394</td>
    <td>2,349.2512 EUR / ETH</td>
    <td>Pending</td>
    <td>Details</td>
  </tr>
  <tr>
    <td>Buy</td>
    <td>1.062 ETH</td>
    <td>Ravi Sharma</td>
    <td>Akash Singh</td>
    <td>O24539OER394</td>
    <td>2,349.2512 EUR / ETH</td>
    <td>Pending</td>
    <td>Details</td>
  </tr>
  <tr>
    <td>Buy</td>
    <td>1.062 ETH</td>
    <td>Ravi Sharma</td>
    <td>Akash Singh</td>
    <td>O24539OER394</td>
    <td>2,349.2512 EUR / ETH</td>
    <td>Pending</td>
    <td>Details</td>
  </tr>
</table>

</body>
</html>

{% endblock %}