{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>
<br>
<h2>Transaction Logs</h2>

<br>
<br>
<div class="container">
    <div class="search-container">
      <label for="search1">TRX/Username</label>
      <input type="text" id="search1" name="search1">
      <label>Currency</label>
      <select>
        <option>All</option>
        <option>BTC</option>
        <option>UTD</option>
        <option>USDT</option>
      </select>
      <label>Type</label>
      <select>
        <option>All</option>
        <option>Plus</option>
        <option>Minus</option>
      </select>
      <label>Remark</label>
      <select>
        <option>Any</option>
        <option>Deposit</option>
        <option>Order Buy</option>
        <option>Trade Buy</option>
      </select>

    
      <label for="search2">Date</label>
      <input type="text" id="search2" name="search2">
    </div>
    <div class="search-container">
      <button type="submit">Filter</button>
    </div>
  </div>
  

<table>
  <tr>
    <th>Currency|Wallet</th>
    <th>User</th>
    <th>TRX</th>
    <th>Transacted</th>
    <th>Amount</th>
    <th>Post Balance</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>USDT</td>
    <td>Drew Lynch</td>
    <td>A2JCDS7MOY</td>
    <td>2024-02-19</td>
    <td>-0.1839BTC</td>
    <td>0.0097 BTC</td>
    <td>Open order for sell coin on BTC_USDT Pair</td>
  </tr>

  <tr>
    <td>USDT</td>
    <td>Drew Lynch</td>
    <td>A2JCDS7MOY</td>
    <td>2024-02-19</td>
    <td>-0.1839BTC</td>
    <td>0.0097 BTC</td>
    <td>Open order for sell coin on BTC_USDT Pair</td>
  </tr>

  <tr>
    <td>USDT</td>
    <td>Drew Lynch</td>
    <td>A2JCDS7MOY</td>
    <td>2024-02-19</td>
    <td>-0.1839BTC</td>
    <td>0.0097 BTC</td>
    <td>Open order for sell coin on BTC_USDT Pair</td>
  </tr>

  <tr>
    <td>USDT</td>
    <td>Drew Lynch</td>
    <td>A2JCDS7MOY</td>
    <td>2024-02-19</td>
    <td>-0.1839BTC</td>
    <td>0.0097 BTC</td>
    <td>Open order for sell coin on BTC_USDT Pair</td>
  </tr>

  <tr>
    <td>USDT</td>
    <td>Drew Lynch</td>
    <td>A2JCDS7MOY</td>
    <td>2024-02-19</td>
    <td>-0.1839BTC</td>
    <td>0.0097 BTC</td>
    <td>Open order for sell coin on BTC_USDT Pair</td>
  </tr>
</table>

</body>
</html>

{% endblock %}