{% extends "admin_base.html" %}

{% block content %} 



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table without Vertical Lines</title>
  <style>
    
    th, td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    } 

  </style>
</head>

<body>

<br>
<h2>Withdrawl Methods</h2>
<input type="text" placeholder="Search" name="search">
  <button type="submit">Search</button>
<br>
<br>
<table>
  <tr>
    <th>Method</th>
    <th>Currency</th>
    <th>Charge</th>
    <th>Withdrawl Limit</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Bank Transfer</td>
    <td>USD</td>
    <td>1,0000 USD</td>
    <td>1-1000 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Bank Transfer</td>
    <td>USD</td>
    <td>1,0000 USD</td>
    <td>1-1000 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  <tr>
    <td>Bank Transfer</td>
    <td>USD</td>
    <td>1,0000 USD</td>
    <td>1-1000 USD</td>
    <td>Enabled</td>
    <td>
        <button>Edit</button>
        <button>Disable</button>
    </td>
  </tr>

  
  
</table>

</body>
</html>

{% endblock %}