<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProryptoSignaL-Admin</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="logo-apple"></ion-icon>
              </span>
              <span class="title">Admin Panel</span>
            </a>
          </li>

          <li>
            <a href="{% url 'dashboard' %}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
        
          
          {% comment %} <div class="sidenav">
            <button class="dropdown-btn">Manage Order
              <i class="fa fa-caret-down"></i>
            </button>
            
            <div class="dropdown-container">
              <li>
                <a href="{% url 'openorder' %}">
                  <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                  </span>
                  <span class="title">Open Order</span>
                </a>
              </li>

              <li>
                <a href="{% url 'order_history' %}">
                  <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                  </span>
                  <span class="title">Order history</span>
                </a>
              </li>
              <li>
                <a href="{% url 'trade_history' %}">
                  <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                  </span>
                  <span class="title">Trade History</span>
                </a>
              </li>
            </div>
           
          </div>
         {% endcomment %}
              <li>
                <a href="{% url 'openorder' %}">
                  <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                  </span>
                  <span class="title">Open Order</span>
                </a>
              </li>
              
              <li>
                <a href="{% url 'order_history' %}">
                  <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                  </span>
                  <span class="title">Order history</span>
                </a>
              </li>
            
              <li>
                <a href="{% url 'trade_history' %}">
                  <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                  </span>
                  <span class="title">Trade History</span>
                </a>
              </li>
              
          
          <li>
            <select onchange = "navigate(this)">
              <option value="">Manage P2P</option>
              <option value="{% url 'running_trade' %}"> 

                <li>
                  <a href="{% url 'running_trade' %}">
                    <span class="icon">
                      <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Running Trade</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'reported_trade' %}">
                <li>
                  <a href="{% url 'reported_trade' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Reported Trade</span>
                  </a>
                </li>
              </option>
              <option value="{% url 'completed_trade' %}">
                <li>
                  <a href="{% url 'completed_trade' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Completed Trade</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'manage_ad' %}">
                <li>
                  <a href="{% url 'manage_ad' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Manage Ad</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'payment_window' %}">
                <li>
                  <a href="{% url 'payment_window' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Payment Window</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'payment_method' %}">
                <li>
                  <a href="{% url 'payment_method' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Payment Method</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Manage Currency</option>
              <option value="{% url 'crypto_currency' %}"> 

                <li>
                  <a href="{% url 'crypto_currency' %}">
                    <span class="icon">
                      <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Crypto Currency</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'flat_currency' %}"> 
                <li>
                  <a href="{% url 'flat_currency' %}">
                    <span class="icon">
                      <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Flat Currency</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <a href="{% url 'manage_market' %}">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Manage Market</span>
            </a>
          </li>

          <li>
            <a href="{% url 'manage_coinpair' %}">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Manage Coin Pair</span>
            </a>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Manage Users</option>
              <option value="{% url 'active_users' %}"> 

                <li>
                  <a href="{% url 'active_users' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Active Users</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'banned_users' %}">
                <li>
                  <a href="{% url 'banned_users' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Banned Users</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'email_unverified' %}">
                <li>
                  <a href="{% url 'email_unverified' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Email Unverified</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'mobile_unverified' %}">
                <li>
                  <a href="{% url 'mobile_unverified' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Mobile Unverified</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'kyc_unverified' %}">
                <li>
                  <a href="{% url 'kyc_unverified' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">KYC Unverified</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'kyc_pending' %}">
                <li>
                  <a href="{% url 'kyc_pending' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">KYC Pending</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'all_users' %}">
                <li>
                  <a href="{% url 'all_users' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">All Users</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'notify_to_all' %}">
                <li>
                  <a href="{% url 'notify_to_all' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Notification To All</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <a href="{% url 'manage_referrals' %}">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Manage Referrals</span>
            </a>
          </li>
          
          <li>
          
            <select onchange = "navigate(this)">
              <option value="">Payment Gateways</option>
              <option value="{% url 'automatic_gateways' %}"> 
                <li>
                  <a href="{% url 'automatic_gateways' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Automatic Gateways</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'manual_gateways' %}">
                <li>
                  <a href="{% url 'manual_gateways' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Manual Gateways</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Deposits</option>
              <option value="{% url 'pending_deposits' %}"> 
                <li>
                  <a href="{% url 'pending_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Pending Deposits</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'approved_deposits' %}">
                <li>
                  <a href="{% url 'approved_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Approved Deposits</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'successful_deposits' %}">
                <li>
                  <a href="{% url 'successful_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Successful Deposits</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'rejected_deposits' %}">
                <li>
                  <a href="{% url 'rejected_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Rejected Deposits</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'initiated_deposits' %}">
                <li>
                  <a href="{% url 'initiated_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Initiated Deposits</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'all_deposits' %}">
                <li>
                  <a href="{% url 'all_deposits' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">All Deposits</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Withdrawls</option>
              <option value="{% url 'withdrawl_methods' %}">
                <li>
                  <a href="{% url 'withdrawl_methods' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Withdrawl Methods</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'pending_withdrawls' %}">
                <li>
                  <a href="{% url 'pending_withdrawls' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Pending Withdrawls</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'approved_withdrawls' %}">
                <li>
                  <a href="{% url 'approved_withdrawls' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Approved Withdrawls</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'rejected_withdrawls' %}">
                <li>
                  <a href="{% url 'rejected_withdrawls' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Rejected Withdrawls</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'all_withdrawls' %}">
                <li>
                  <a href="{% url 'all_withdrawls' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">All Withdrawls</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Support Ticket</option>
              <option value="{% url 'pending_ticket' %}">
                <li>
                  <a href="{% url 'pending_ticket' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Pending Ticket</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'closed_ticket' %}">
                <li>
                  <a href="{% url 'closed_ticket' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Closed Ticket</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'answered_ticket' %}">
                <li>
                  <a href="{% url 'answered_ticket' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Answered Ticket</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'all_ticket' %}">
                <li>
                  <a href="{% url 'all_ticket' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">All Ticket</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          <li>
            <select onchange = "navigate(this)">
              <option value="">Report</option>
              <option value="{% url 'transaction_log' %}">
                <li>
                  <a href="{% url 'transaction_log' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Transaction Log</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'login_history' %}">
                <li>
                  <a href="{% url 'login_history' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Login History</span>
                  </a>
                </li>
              </option>

              <option value="{% url 'notification_history' %}">
                <li>
                  <a href="{% url 'notification_history' %}">
                    <span class="icon">
                      <ion-icon name="chatbubble-outline"></ion-icon>
                    </span>
                    <span class="title">Notification History</span>
                  </a>
                </li>
              </option>
            </select>
          </li>

          
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Log Out</span>
            </a>
          </li>
        </ul>
        
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
          </div>

      </div>
      
    </div>

  

    <script>
      //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
    </script>
    
    <script>
        function navigate(select) {
            /*var select = document.querySelector('select');*/
            var selectedOption = select.options[select.selectedIndex].value;
            if (selectedOption) {
                window.location.href = selectedOption;
            }
        }
    </script>




    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  </body>
</html>
